<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.ui.tutorials.rcp.part3.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Part3 Perspective"
            class="org.eclipse.ui.tutorials.rcp.part3.Perspective"
            id="org.eclipse.ui.tutorials.rcp.part3.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Gestion de fichiers"
            allowMultiple="true"
            class="org.eclipse.ui.tutorials.rcp.part3.NavigationView"
            id="org.eclipse.ui.tutorials.rcp.part3.navigationView">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.tutorials.rcp.part3.application"
            name="RCP Tutorial 3">
      </product>
   </extension>

</plugin>
